//* Desktop Screen Size */
$maxScreenDT: 1800px;
$middleScreenDT: 1640px;
$smallScreenDT: 1300px;

//* Phone Screen Size */
$maxScreenPhone: 1080px;
$middleScreenPhone: 780px;
$smallScreenPhone: 460px;