.card-item {
  display: grid;
  grid-template-rows: 1fr repeat(2, 20px) 1fr;
  gap: 1rem;
  width: 40rem;
  height: 34rem;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border: 3px solid teal;
  border-radius: 8px;

  &__img {
    margin: auto;
  }

  &__value {
    width: auto;
    margin: auto;
    font-size: 1.4rem;
  }

  &__button {
    margin: auto;
    width: 14rem;
    height: 3rem;
  }
}